
/* Кастомные веб-шрифты */

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
  	 	   url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff2')  format('woff2'),
  	 	   url('../fonts/opensans.woff')  format('woff');
    font-weight: 400;              
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensanslight.woff2')  format('woff2'),
  	     url('../fonts/opensanslight.woff')  format('woff');
    font-weight: 300;              
    font-style: normal;
}

/* Общие стили */

.page-center {
    position: relative;
    margin-top: 0px;
    padding: 0;
    font-family: "Open Sans", 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    color: #464646;
    background-color: #ffffff;
	}

.main-text {
    font-family: "Open Sans", 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: none;
    color: #000;
}

a {
    color: #000000;
    text-decoration: none;
}	

ul {
    list-style: none; 
    margin: 0; 
    padding-left: 0;
}

.main-header {
    margin-left: auto;
    margin-right: auto;
   
    width: 1160px;

}

.first-row {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    height: 40px;
}

.style_body {
    position: relative; 
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
}

.main_container {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    min-height: 420px;
    width: 1160px;
}

.device-types {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
}

.header-container {
    display: flex;
    padding-top: 51px;
    margin-bottom: 9px;
    width: 1040px;
    line-height: 16px;
} 

.header-container2 {
    display: flex;
    margin: 0 auto;
    padding-top: 51px;
    width: 1160px;
    line-height: 16px;
}
.main-header__nav {
    line-height: 30px;
    color: #000;
    width: 1040px;
    height: 130px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: -22px;
    padding-bottom: 170px; 
    background-color: #f7e296;
} 

.main-header__catalog {
    line-height: 30px;
    color: #000;
    width: 1040px;
    height: 186px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: -22px;
    margin-bottom: 30px; 
    background-color: #f7e296;
} 

.search_block, .footer-logo
{                       /** logo **/
    margin-right: auto;
    width: 420px;
    height: 50px;
    position: relative;
    padding-left: 36px;
    color: rgba(0,0,0,0.3);
}

.search_block::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 16px;
    height: 16px;
    background-image: url("../img/svg/search.svg");
}


.main-header__user-list {
    display: flex;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: right;
}


.right-column {
    display: flex;
    width: 500px;
}

.main-header__user-item, 
.user-item__compare, .user-item__compare-orange,
.user-item__cart, .user-item__cart-orange {
    position: relative;
    padding-left: 25px;
}

.user-item__compare, .user-item__cart, .user-item__cart-orange {
  margin-left: auto;
}

.user-item__cart {
  margin-left: auto;
}



.user-item__user, .user-item__user-orange {
    border: 0;
    position: relative;
    padding-left: 25px;
}


.main-header__user-list li:not(:last-child) {
    margin-right: 5px;
} 

.user-item__user::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 13px;
    height: 14px;
    background-image: url("../img/svg/user.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
}

.user-item__user-orange::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 13px;
    height: 14px;
    background-image: url("../img/svg/user-orange.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
}

.user-item__compare::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 14px;
    height: 14px;
    background-image: url("../img/svg/compare.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
}

.user-item__compare-orange::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 14px;
    height: 14px;
    background-image: url("../img/svg/compare-orange.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
}


.user-item__cart::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';  
    width: 14px;
    height: 14px;
    background-image: url("../img/svg/cart.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
}


.user-item__cart-orange::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';  
    width: 14px;
    height: 14px;
    background-image: url("../img/svg/cart-orange.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
}

.main-header__row {
   display: flex;
    width: 1040px;
    line-height: 16px;
}



.about-item:nth-child(3n) {
    margin-left: auto;
}

.about-item:not(:last-child) {
    margin-right: 50px;
}

.catalog-list {
    display: flex;
    margin: 0 auto;
    margin-bottom: 0px;
    height: 102px;
}

.catalog-list__category {
    width: 21%;
    margin: 0;
    padding: 0;
}

.main-header__left-column2 {
    width: 540px;
}

.main-header__right-column2 {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 500px;
}

.main-footer {
    color: rgba(255,255,255,1);
    background-color: #464646;
    height: 323px;
}

.footer-center {
  width: 1160px;
  padding-top: 60px;
  margin: 0 auto;
}

.main-footer__link {
    color: rgba(255,255,255,0.7);
}

.main-footer__main-item {
    font-family: "Gilroy", 'Georgia', serif;
    font-weight: 800;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.main-header__main-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header__main-list .sub-menu {
    position: absolute;
    display: none;
    margin: 0;
    left: -60px;
    width: 1040px;
    padding-left: 60px;
    padding-right: 60px;
    list-style: none;
    background-color: #f7e296;
    z-index: 700;
    padding-top: 29px;
    padding-bottom: 35px;
}

.header-catalog__position {
  position: relative;
  max-height: 160px;
}

.main-header__main-list .sub-menu a {
    margin-bottom: -1px;
}

.main-header__main-list > li:hover .sub-menu {
    display: block;
}

.main-header__row {
    display: flex;
    margin-right: auto;
    padding-bottom: 42px;
    width: 1040px;
}

.logo__headerposition {
  margin: 0;
  margin-top: -17px;
  margin-left: 60px;
}

.catalog-list__item a {
  font-family: "Open Sans", 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #000;
}

.main-header__main-list,
.catalog-list__category,
.advantages__btn-container,
.brief-info__list,
.main-footer__main-list,
.socials,
.crumbs__list, 
.sorting__list, 
.sorting__triangles, 
.color__list, 
.paginator__list {
    list-style: none;
    margin-left: 0;
}

.product-card__link,
.product-card__name {		
    color: #000000;
}

.main-footer__main-list a {
    color: #ffffff;
}

.main-footer__text,
.main-footer__phone {
    letter-spacing: 0.0em;
    color: #ffffff;
}

.main-header__main-item {
    font-family: 'Gilroy', 'Georgia', serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.btn {
    font-family: 'Gilroy', 'Georgia', serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 92px;
    letter-spacing: 0.2em;
    color: #000;
    border: none;
    background: none;
    text-transform: uppercase;
}

.hero {
    display: flex;
    margin-top: -112px;
    justify-content: center;
    padding-left: 90px;
    min-height: 615px;
    width: 1160px;
}

.hero__block--image {
    width: 526px; margin-right: 40px;
}

.hero__block--image img{
      display: block;
      margin: 0 auto; 
    }

.hero__block--description {
    margin: 0;
    padding-top: 80px;
    width: 532px;
    color: #000;
}

.hero__facts {
    display: flex;
    position: relative;
    top: 9px;
}

.hero__facts-col {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-right: 78px;
}

.hero__facts-col dt {	
    margin: 0;
    font-family: "Open Sans", 'Arial', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: rgba(70,70,70,1);
    line-height: 20px;
}

.hero__facts-col dd {
    margin: 0;
    font-family: 'Gilroy', 'Georgia', serif;
    font-size: 36px;
    line-height: 48px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.devicetypes-para {
    font-family: 'Gilroy', 'Georgia', serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    padding-top: 16px;
}



.device-column {
    display: flex;
    width: 1160px;
    margin: 0;
    padding: 0;
}

.device-types__link {
    position: relative;
    display: flex;
    width: 160px;
    height: 250px;
} 

.device-types__link:not(:first-child) {
    margin-left: 40px;
}

.device-types__container, .device-types__container_popular-2 {
    display: flex;
    margin: auto;
    width: 160px;
    height: 160px;
    background-color: rgba(240,197,46,0.5);
} 

.device-types__link:hover .device-types__container {
    background-color: rgba(240,197,46,1);
}

 .device-types__link:hover .device-types__container_popular-2 {
    background-color: rgba(240,197,46,1);
}


li.device-types__link:active .device-types__container {
    background-color: rgba(240,197,46,1);
}

li.device-types__link:active .device-types__container img {
    opacity: 0.5;
}

li.device-types__link:active .devicetypes-para {
    color: rgba(0,0,0,0.5);
}

li.device-types__link:active .device-types__container_popular-2 {
    background-color: rgba(240,197,46,1);
}

li.device-types__link:active .device-types__container_popular-2 img {
  opacity: 0.5;
}

li.device-types__link:active .devicetypes-para {
  color: rgba(0,0,0,0.5);
}

.device-types__container img {
  margin: auto;
}

.device-types__container_popular-2 img {
  margin: auto;
  margin-bottom: 0px;
}

.advantages__btn-container {
    width: 160px;
    margin-bottom: 24px;
    font-family: 'Gilroy', 'Georgia', serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.main-title {
    position: relative;
    font-family: 'Gilroy', 'Georgia', serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 56px;
    margin: 0;
    letter-spacing: 0.01em;
    z-index: 2;
    margin-bottom: 23px;
}

.secondary-title {
    font-family: 'Gilroy', 'Georgia', serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.filter-title {
    font-family: 'Gilroy', 'Georgia', serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.product-card__name {
    font-family: 'Gilroy', 'Georgia', serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.filter__label	{
    font-size: 18px;
    line-height: 65px;
    color: #000;
}

.product-card__link--add	{
    font-size: 13px;
    line-height: 20px;
    text-transform: none;
    color: rgba(0,0,0,0.5);
}

.product-card__price {
    font-family: 'Gilroy', 'Georgia', serif;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
}

.crumbs-item,
.sorting__item,
.socials__link {
    opacity: 0.3;
}

.search_block label:hover,
.search_block label:focus {
  color: rgba(0,0,0,0.6);
}

.logo a[href]:hover, 
.logo a[href]:focus,
.main-header__main-item:hover,
.main-header__main-item:focus,
.main-header__user-item:hover,
.main-header__user-item:focus,
.catalog-list__item a[href]:hover,
.catalog-list__item a[href]:focus,
.crumbs-item:hover,
.crumbs-item:focus,
.sorting__item:hover,
.sorting__item:focus,
.filter__label:hover,
.filter__label:focus,
.main-footer__main-item:hover,
.main-footer__main-item:focus,
.main-footer__phone:hover,
.main-footer__phone:focus,
.socials__link:hover,
.socials__link:focus {
    opacity: 0.6;
}

.main-footer__link:hover,
.main-footer__link:focus {
    opacity: 1;
}

.product-card__link--add:hover,
.product-card__link--add:focus {
    opacity: 1;
}

.btn:hover,
.btn:focus,
.device-types__link p:hover,
.device-types__link p:focus {
    opacity: 1;
}

.logo a[href]:active,
.main-header__main-item:active,
.catalog-list__item a[href]:active,
.btn:active,
.device-types__link p:active,
.main-footer__main-item:active,
.main-footer__phone:active
 {
    opacity: 0.3;
}

.crumbs-item:active,
.socials__link:active {
    opacity: 0.1;
}

.sorting__item:active,
.filter__label:active {
    opacity: 1;
}

.product-card__link--add:active {
    opacity: 0.2;
}

.main-footer__link:active,
.main-header__user-item:active
	{
    opacity: 0.3;
}

  .search_block label:active
  { color: rgba(0,0,0,1); 
}

.font-none {
    font-size: 0;
    line-height: 0;
}

/* Универсальный класс, только визуальное скрытие с сохранением доступности */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

  /** СЛАЙДЕР ПРОДУКТОВ НА ГЛАВНОЙ СТРАНИЦЕ **/

.main-para {
    line-height: 30px;
}

  .container-products {
    display: flex;
    position: relative;
    width: 1100px;
    max-height: 436px;
    margin: 0;
    padding: 0;
    left: -90px;
    top: -78px;
}
  
.slider {
    position: relative;
}

.slider-controls {
    position: absolute;
    right:  -190px;
    bottom: 135px;
    z-index: 100;
    width: 160px;
    height: 18px;
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
  
.slider-controls label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 1px solid #000;
    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 5;
}

.slider-item {
    display: none;
    padding: 78px 0 80px 0;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -5px;
    background-color: inherit;
    border: 1px solid #000;
    border-radius: 50%;
}

.product_number {
    position: absolute;
    font-family: 'Gilroy', 'Georgia', serif;
    font-weight: 800;
    margin: 0;
    letter-spacing: 0.01em;
    font-size: 179px;
    line-height: 179px;
    color: #ffffff;
    right: -95px;
    top: -50px;
}

/** СЛАЙДЕР ПРЕИМУЩЕСТВ НА ГЛАВНОЙ СТРАНИЦЕ **/

div.gray-bg {
    display: flex;
    margin: 0 auto;
    padding: 0;
    top: -877px;
    height: 288px;
    background-color: rgb(229,229,229);
}

section.advantages {
    margin-top: -33px;
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    position: relative; 
}

.main-para {
    line-height: 30px;
}

.slider__slide {
    display: flex;
    position: relative; 
    width: 1100px;
    max-height: 436px;
    margin: 0;
    padding: 0;
    left: -90px;
    top: -78px;  
}

.vertical_line {
  position: absolute;
  left: 277px;
  bottom: 69px;
  width: 7px;
  height: 319px;
  background-color: rgb(0,0,0);
}

.slider {
    position: relative;
}

.advantages-slider-list {
    position: relative;
    margin: 0;
    padding: 0;
    left: 512px;
    top: -157px;
    list-style: none;
    z-index: 600;
}

.main-title_advantages {
    font-family: 'Gilroy', 'Georgia', serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.1em;
    color: #000;
}

.advantages__inner-delivery {
  width: 675px;
  height: 164px;
  padding: 0;
  margin: 0;
  background-image: url("../img/svg/delivery.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.advantages__inner-warranty {
  width: 675px;
  height: 195px;
  background-image: url("../img/svg/warranty.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.advantages__inner-credit {
  width: 675px;
  height: 188px;
  background-image: url("../img/svg/credit.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.info-text {
    font-family: "Open Sans", 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: rgba(70,70,70,1);
    text-transform: none;
}

.info-text-white {
    font-family: "Open Sans", 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: rgba(255,255,255,1);
}

.advantages__info {
    position: relative;
    top: -47px;
    margin: 0;
    max-width: 430px;
    max-height: 200px;
}

.advantages__btn-container label {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding-top: 2px;
    border-radius: 50%; 
    cursor: pointer;
}


.advantages-slider-item {
    padding: 78px 0 80px 0;
    display: none;
}

#advantage_delivery:checked ~ .advantages-slider-list .advantages-slider-item:nth-child(1) {
    display: block;
}

#advantage_warranty:checked ~ .advantages-slider-list .advantages-slider-item:nth-child(2) {
    display: block;
}

#advantage_credit:checked ~ .advantages-slider-list .advantages-slider-item:nth-child(3) {
    display: block;
}

.partners, .partners__list {
    display: flex;
    margin: 0 auto;
    width: 1160px;
    height: 190px;
    padding-top: 45px;
}

.partners__item-dji { 
    position: relative;
    margin-right: 40px;
    width: 260px;
    height: 100px;
    background-image:  url("../img/cont/logo-dji-grayscale.jpg");
}

.partners__item-sp {
    position: relative;
    margin-right: 40px;
    width: 260px;
    height: 100px;
    background-image:  url("../img/cont/logo-spgadgets-grayscale.jpg");
}

.partners__item-gopro {
    position: relative;
    margin-right: 40px;
    width: 260px;
    height: 100px;
    background-image:  url("../img/cont/logo-gopro-grayscale.jpg");
}

.partners__item-vive {
    position: relative;
    padding-left: 25px;   
    width: 260px;
    height: 100px;
    background-image:  url("../img/cont/logo-vive-grayscale.jpg");
}

.partners__item-dji:hover,
.partners__item-dji:focus {
    background-image:  url("../img/cont/logo_dji.jpg"); 
}

.partners__item-sp:hover,
.partners__item-sp:focus { 
    background-image:  url("../img/cont/logo-spgadgets.jpg"); 
}

.partners__item-gopro:hover,
.partners__item-gopro:focus { 
    background-image:  url("../img/cont/logo-gopro.jpg"); 
}

.partners__item-vive:hover,
.partners__item-vive:focus { 
    background-image:  url("../img/cont/logo-vive.jpg"); 
}

/** О нас Контакты **/

.brief-info-container {
  width: 1100px;
  height: 560px;
  margin: 0 auto;
  margin-top: 5px;
}

.brief-info__blocks {
    display: flex;
    margin: 0 auto;
    width: 1100px;
    height: 300px;
}

.brief-info__block {
   display: flex;
  width: 410px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brief-info__block:nth-child(1) {
  margin-right: 130px;
}

.brief-info__list {
    font-family: 'Gilroy', 'Georgia', serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
    padding-top: 30px;
    padding-left: 20px;
}

.custom-list-white-circles-item {
  width: 200px;
  height: 30px;
  padding-left: 20px;
 
  background-image:  url("../img/svg/slider-button.svg");
  background-repeat: no-repeat; 
  background-position: left;
}

.brief-info__buttons {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 115px;
  padding-left: 15px;
}

.brief-info__buttons-part {
  width: 50%;
  height: auto;
}

.footer-container {
  display: flex;
  position: relative;
  width: 500px;
  height: 20px;
  left: 810px;
  top: -27px;
}

.main-footer__row {
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.main-footer__main-list {
  display: flex;
  width: 440px;
  margin-left: 160px;
  margin-top: 20px; 
}

.main-footer__main-item {
  margin-right: 38px;
}

.main-footer__text {
  margin-left: 168px;
}

.socials {
  display: flex;
  width: 400px;
  margin: 0 auto;
  padding-left: 278px;
  padding-top: 60px;
}

.socials__link {
  margin-right: 22px;
}

.logo-academy {
  position: relative;
  top: 60px;
  right: 30px;
}

.container-crumbs {
  display: flex;
  margin-bottom: 47px;
}

.crumbs__list {
  display: flex;
  width: 500px;
  margin: 0;
}

.crumbs__list li:not(:first-child) {
margin-left: 14px;
}

/**  КАТАЛОГ **/

.catalog-row-1 {
  background-image: linear-gradient(to right, #ccc, #ccc 28%, #eee 28%, #eee 100%);
}

.catalog-container {
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  width: 1160px;
}

.row-1_max-height {
  max-height: 70px;
}

.catalog-left-column {
  width: 266px;
  background-color: #ccc;
  padding-left: 60px;
  padding-top: 10px;
}

.catalog-right-column {
  background-color: #eee;
  padding-left: 75px;
  padding-top: 10px;
}

.catalog-left-column-2 {
  width: 266px;
  background-color: #eee;
  padding-left: 60px;
  padding-top: 10px;
}

.catalog-right-column-2 {
  width: 300px;
  background-color: #fff;
  padding-left: 75px;
  padding-top: 10px;
}

.sorting__list {
  position: relative;
  display: flex;
  width: 600px;
  left: 200px;
  bottom: 34px;
}

.sorting__item {
  margin-right: 30px;
}

.catalog-row-2 {
  background-image: linear-gradient(to right, #eee, #eee 28%, #fff 28%, #fff 100%);
}

.filter__field {
  border: 0;
}

.first-line-cards, .second-line-cards {
  display: flex;
  position: relative;
  width: 400px;
  height: 600px;
}

.product-card {
  margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product-card--new {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../img/png/icon-new.png");
  top: 50px;
  left: 670px;
}


.paginator, .paginator__list {
  display: flex;
  width: 760px;
  height: 70px;
  font-family: "Gilroy", 'Georgia', serif;
  font-weight: 800;
  font-size: 16px;
  color: rgba(255,0,0,0.3);;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #eee;
}

.paginator__item {
  margin: 25px;
  color: rgba(0,0,0,0.3);
}

.paginator__item a {
  color: black;
}

.paginator__item--outer, .paginator__item--active {
  font-weight: 800;
  color: rgba(150,0,0,1);
}

.paginator__item:nth-child(3n+1) {
  margin-right: 200px;
  color: red;
}

/** ********* Форма обратной связи.********** *//

.contact {
  max-width: 960px;
  margin: 0 auto;
}